body {
  background-color: #061f4a;
  font-family: sans-serif;
  font-size: 20;
}

#chart svg {
  color: #dce4ef;
  background-color: #061f4a;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: #ffffff;
  text-align: center;
}

h5 {
color: #ffffff;
font-weight: 300;
text-align: center;
font-style: italic;
}

p {
color: #ffffff;
font-size: 16px;
font-weight: 300;
margin-bottom: 30px;
text-align: center;
}